@import url("universal.css");

#tab-list .close{
	margin-left: 7px;
}

h4 > small {
    display: inline-block;
}

#personalInfoPanel {

}
#personalInfoButton {
    font-size: 20px;
}

#jobExperiencePanel {
    display:none;
}
#educationPanel {
    display:none;
}
#skillsPanel{
    display: none;
}
#softwareProfPanel{
    display: none;
}
#previousProjectsPanel{
    display: none;
}
#changePasswordPanel {

}
#thirdParyPanel {

}
.close {
    color: red;
}
.glyphicon-menu-up {
    color: orange;
    font-size: 20px;
}

.glyphicon-menu-down {
    color: orange;
    font-size: 20px;
}
.glyphicon-plus {
    color: white;
}


.btn-custom,
.btn-custom:focus,
.btn-custom:active,
.btn-custom:active:focus,
.btn-custom.active {
  color: orange;
  background-color: #101010;
  border-color: orange;
  box-shadow: none !important;
  outline: none !important;
}

.btn-custom:hover {
  color: orange;
  background-color: #404040;
  border-color: black;
  box-shadow: none !important;
  outline: none !important;
}
