/*Anything that needs to affect style across the entire site goes here.*/
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
/*@import url("https://fonts.googleapis.com/css?family=Droid+Sans");*/


html, body {
    color: #434242;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    height: 100%;
}

body { background: #F3EFE0; font-size: 15px; line-height: 1.64; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #63a4ff; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
hr { margin: 40px 0px; border-color: #727878; opacity: 0.2; filter:alpha(opacity=20); }

/*.navbar  { border: 0px; background-color: #222222; position: absolute; top: 100%; right: 5%; width: 110px; z-index: 999; }*/
/*.navbar .navbar-collapse { padding: 0px; max-height: none; }*/
/*.navbar .navbar-nav { float: none; }*/
/*.navbar-nav { margin: 0px; }*/
/*.navbar .nav > li { display: block; float: none; height: 80px; } */
/*.navbar .nav > li a { display: block;  height: 80px; text-align: center; padding-top: 30px; font-weight: 600; color: #FFFFFF; }*/
.navbar .container-fluid .collapse .nav > li a:hover, .navbar .container-fluid .collapse .nav > li a:focus,
#tabs .nav-pills li a:hover, #tabs .nav-pills li a:focus { color: #ffa000; }

.navbar .container-fluid .collapse .nav > .active > a, .navbar .container-fluid .collapse .nav > .active > a:hover, .navbar .container-fluid .collapse .nav > .active > a:focus,
#tabs .nav-pills > .active > a, #tabs .nav-pills > .active > a:hover, #tabs .nav-pills > .active > a:focus { background: #ffa000; color: #000000; }

.navbar .container-fluid .navbar-header .navbar-toggle:hover .icon-bar,
.navbar .container-fluid .navbar-header .navbar-toggle:focus .icon-bar { background: #ffa000; }

.btn-primary { background-color: #22A39F; border-color: #1c8784; }
.btn-primary:hover { background-color: #1c8784;  border-color: #1c8784; }

/*#tabs {*/
/*    background-color: #000;*/
/*}*/

.glyphicon {
    color: #c67100;
}

/*.navbar .container-fluid .navbar-header .navbar-toggle .icon-bar {*/
/*    background-color: #ffa000;*/
/*}*/

.navbar .container-fluid .navbar-header .navbar-brand {
    color: #ffa000;
}

.navbar .container-fluid .collapse .nav li a, .nav-pills li a {
    color: #c67100;
}

/*.navbar .container-fluid .collapse .nav .active a {*/
/*    color: #ffd149;*/
/*}*/

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    /*min-width: 100px;*/
}